body {
	margin: 0;
	font: 10pt -apple-system, 'BlinkSystem', 'Helvetica Neue', sans-serif;
	display: flex;
}

.column {
	height: 100%;
}

.sidebar {
	width: 240px;
	height: 100%;
	border-right: 1px solid #ddd;
	position: relative;
}

.box {
	background: none;
	border: none;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	width: 100%;
	padding: 10pt;
	margin: 0;
}

.box.header {
	font-size: 16pt;
	color: #444;
}

.sidebar .box:focus {
	outline: none;
}

.sidebar .box.title {
	font-size: 16pt;
}

.sidebar .box.desc {
	font-size: 10pt;
	resize: none;
	min-height: 8em;
}

.sidebar .box.button {
	cursor: pointer;
	text-align: left;
	font-size: 12pt;
	color: rgba(0,0,0,.6);
	border-bottom: none;
}
.sidebar .box.button:before {
	content: "";
	display: block;
	float: right;
	width: 20px;
	height: 1em;
}
.sidebar .box.button:hover {
	color: rgba(0,0,0,.8);
}

.sidebar .box.run {
	background: #ced;
}
.sidebar .box.run:before {
	content: "";
	display: block;
	float: right;
	width: 20px;
	height: 1em;
}

.sidebar .box.share {
	background: #cde;
}
.sidebar .box.share:before {
}

.sidebar .box.bottom {
	position: absolute;
	bottom: 0;
	border-bottom: none;
	border-top: 1px solid #eee;
	padding-top: 0.5em;
}

.sidebar .box.bottom .info {
	color: #888;
	font-style: italic;
}

.sidebar .box.bottom .logo {
	font-size: 12pt;
	margin-top: 1em;
}

.setup {
	flex: 0;
	flex-grow: 2;
	border-right: 1px solid #ddd;
}

.editor {
	width: 100%;
	height: 100%;
}

.editor .CodeMirror {
	height: 100%;
	font-family: Menlo, monospace;
	font-size: 8pt;
}

.tests {
	flex: 0;
	flex-grow: 3;
}
